/* qaybta qurxinta  */
*{
    /* background-color: #a3bbd6; */
    margin-top: 0;
   
}
ul ,li {
    background-color: #021429;
    color: aliceblue;
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.menu{
    position: fixed;
    top:0;
    right:0;
    margin-right: 10px;
    width: 50%;
    
    
}

.portafiolo img , p{
    width: 150px;
}
.portafiolo , .portafiolo1{
    display: flex;
    top: 20px;
    justify-content:start;


  
}
.portafiolo1 img , p{
    width: 150px;
}

.soft {
    /* background-color: #011225; */
    color:#021429;
    width: 15%;
    padding: 20px;
    /* border-style: double; */
}
img ,h3 ,p{
    background-color: none;
  
}
.gra{
    /* background-color: #011225; */
    color:#021429;
    width: 15%;
    padding: 20px;
  
}

#profile{
    font-size: 30px;
    color: #010b16;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top:20px;
    left:10px;
    margin-bottom: 0px;
}
#skill {
    /* background-color: #021429; */
    color: rgb(233, 196, 129);
    font-style: oblique;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 60%;
    margin-bottom: 0;
 
    width: 400px;
    text-align: center;
}
button{
     background-color: wheat;
     color: #021429;
     font-family: monospace;
     font-weight: bold;
     font-size: 10px;
     text-align: center;
     margin-top: 10px;
     margin-left: 20px;
     align-items: center;
     border-radius: 20%;
     box-shadow: #deeaf7;
     width: 50px;
}

header{
    text-align: center;
}